* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

$light: #656266;
$dark: #161a23;
$base: #ffffff;
$primary-text: #c6cbcf;

.App {
  width: 100vw;
  min-height: 100vh;
  background-color: $dark;
  flex-direction: column;
}

.ipodBody {
  width: 250px;
  height: 450px;
  background-image: radial-gradient($light, $dark);
  border-radius: 25px;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 10px;
  box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
}

.display {
  width: 220px;
  height: 160px;
  background-color: $base;
  border-radius: 10px;
  opacity: 90%;
  background-image: url("https://images.pexels.com/photos/3756943/pexels-photo-3756943.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;

  #menu {
    width: 60%;
    height: 100%;
    background-color: $base;
    border-radius: 10px;

    #screen-title {
      padding: 16px 10px 0px;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 15px;
    }
    ul {
      list-style-type: none;
      width: 90%;
      padding-top: 0.5em;

      .menu-item {
        padding: 0.5em;
        margin-left: 10px;
        width: 100%;
        margin-bottom: 2px;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
          background-color: $primary-text;
        }
      }
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: #1a73e8;
  color: $base;
}
